parameters:

application:
    errorPresenter: Error
    mapping:
        *: App\Presenters\*Presenter

services:
    - App\Presenters\HomePresenter
    - App\Presenters\ErrorPresenter
    router: 
        factory: @routerFactory::createRouter()

    routerFactory: App\RouterFactory

routing:
    debugger: false
